* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#app {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#total-box {
    border: 1px solid #eee;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#total {
    font-size: 30px;
    color: #2c3e50;
}

.input-box {
    margin-bottom: 15px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-box input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-box select{
width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #219150;
}

#list {
    list-style: none;
    margin-top: 10px;
}

.expense-item {
    background: #fff;
    border: 1px solid #eee;
    margin-bottom: 10px;
    border-left: 5px solid #e74c3c;
    border-radius: 4px;
}

.expense-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

@media (max-width: 400px) {
    #app {
        padding: 15px;
    }

    #total {
        font-size: 24px;
    }
}